.account {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.start {
    background-color:aliceblue
}

.view {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list {
    background-color:aliceblue
}
